In [77]:
import pandas as pd
import requests 
import sqlite3

In [78]:
# create a variable with the endpoint
brand = input("Insert brand name").upper()

endpoint = f"https://opendata.rdw.nl/resource/m9d7-ebf2.json?merk={brand}&$limit=50000"

In [79]:
endpoint

'https://opendata.rdw.nl/resource/m9d7-ebf2.json?merk=BMW&$limit=50000'

In [80]:
# send a GET request to the endpoint
response = requests.get(endpoint)

In [81]:
# show the response
response.status_code

200

In [82]:
# get the data from the response
data = response.json()

In [83]:
# check out the data
len(data)

50000

In [84]:
# get the first element
data[0]

{'kenteken': '0004ZT',
 'voertuigsoort': 'Personenauto',
 'merk': 'BMW',
 'handelsbenaming': '2002AUTOMATIC',
 'datum_tenaamstelling': '20150921',
 'inrichting': 'Niet geregistreerd',
 'eerste_kleur': 'BLAUW',
 'tweede_kleur': 'Niet geregistreerd',
 'aantal_cilinders': '4',
 'massa_ledig_voertuig': '1044',
 'massa_rijklaar': '1144',
 'datum_eerste_toelating': '19730105',
 'datum_eerste_tenaamstelling_in_nederland': '19730105',
 'wacht_op_keuren': 'Geen verstrekking in Open Data',
 'wam_verzekerd': 'Nee',
 'aantal_deuren': '2',
 'aantal_wielen': '4',
 'europese_voertuigcategorie': 'M1',
 'plaats_chassisnummer': 'op r. voorwielscherm onder motorkap',
 'type_gasinstallatie': 'G2 gasinstallatie',
 'vermogen_massarijklaar': '0.00',
 'wielbasis': '250',
 'export_indicator': 'Ja',
 'openstaande_terugroepactie_indicator': 'Nee',
 'taxi_indicator': 'Nee',
 'jaar_laatste_registratie_tellerstand': '2012',
 'tellerstandoordeel': 'Geen oordeel',
 'code_toelichting_tellerstandoordeel': '07',
 'tenaamstellen_mogelijk': 'Nee',
 'datum_tenaamstelling_dt': '2015-09-21T00:00:00.000',
 'datum_eerste_toelating_dt': '1973-01-05T00:00:00.000',
 'datum_eerste_tenaamstelling_in_nederland_dt': '1973-01-05T00:00:00.000',
 'maximum_last_onder_de_vooras_sen_tezamen_koppeling': '0',
 'api_gekentekende_voertuigen_assen': 'https://opendata.rdw.nl/resource/3huj-srit.json',
 'api_gekentekende_voertuigen_brandstof': 'https://opendata.rdw.nl/resource/8ys7-d773.json',
 'api_gekentekende_voertuigen_carrosserie': 'https://opendata.rdw.nl/resource/vezc-m2t6.json',
 'api_gekentekende_voertuigen_carrosserie_specifiek': 'https://opendata.rdw.nl/resource/jhie-znh9.json',
 'api_gekentekende_voertuigen_voertuigklasse': 'https://opendata.rdw.nl/resource/kmfi-hrps.json'}

In [85]:
# create a pandas DataFrame from the data
df = pd.DataFrame(data)

## Discover the DataFrame

In [86]:
# check the first rows of the DataFrame
df.head()

,kenteken,voertuigsoort,merk,handelsbenaming,datum_tenaamstelling,inrichting,eerste_kleur,tweede_kleur,aantal_cilinders,massa_ledig_voertuig,...,maximum_ondersteunende_snelheid,maximale_constructiesnelheid,registratie_datum_goedkeuring_afschrijvingsmoment_bpm,registratie_datum_goedkeuring_afschrijvingsmoment_bpm_dt,europese_voertuigcategorie_toevoeging,europese_uitvoeringcategorie_toevoeging,hoogte_voertuig,laadvermogen,aanhangwagen_autonoom_geremd,aanhangwagen_middenas_geremd
0,0004ZT,Personenauto,BMW,2002AUTOMATIC,20150921,Niet geregistreerd,BLAUW,Niet geregistreerd,4,1044,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0017JU,Personenauto,BMW,1600 CABRIOLET,19971024,Niet geregistreerd,WIT,Niet geregistreerd,4,956,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0098EF,Personenauto,BMW,1600 - 2,19881213,Niet geregistreerd,CREME,Niet geregistreerd,4,920,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00EU01,Personenauto,BMW,1602,19770315,Niet geregistreerd,GEEL,Niet geregistreerd,4,980,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00EU06,Personenauto,BMW,1602,19921127,Niet geregistreerd,ROOD,Niet geregistreerd,4,980,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
# show the info of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 70 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   kenteken                                                  50000 non-null  object
 1   voertuigsoort                                             50000 non-null  object
 2   merk                                                      50000 non-null  object
 3   handelsbenaming                                           49999 non-null  object
 4   datum_tenaamstelling                                      45745 non-null  object
 5   inrichting                                                50000 non-null  object
 6   eerste_kleur                                              50000 non-null  object
 7   tweede_kleur                                              50000 non-null  object
 8   aantal_cilinders                                          49918 non-null  object
 9   massa_ledig_voertuig                                      49991 non-null  object
 10  massa_rijklaar                                            49920 non-null  object
 11  datum_eerste_toelating                                    49958 non-null  object
 12  datum_eerste_tenaamstelling_in_nederland                  49867 non-null  object
 13  wacht_op_keuren                                           50000 non-null  object
 14  wam_verzekerd                                             50000 non-null  object
 15  aantal_deuren                                             48437 non-null  object
 16  aantal_wielen                                             49972 non-null  object
 17  europese_voertuigcategorie                                49935 non-null  object
 18  plaats_chassisnummer                                      44903 non-null  object
 19  type_gasinstallatie                                       452 non-null    object
 20  vermogen_massarijklaar                                    50000 non-null  object
 21  wielbasis                                                 49996 non-null  object
 22  export_indicator                                          50000 non-null  object
 23  openstaande_terugroepactie_indicator                      50000 non-null  object
 24  taxi_indicator                                            50000 non-null  object
 25  jaar_laatste_registratie_tellerstand                      47447 non-null  object
 26  tellerstandoordeel                                        50000 non-null  object
 27  code_toelichting_tellerstandoordeel                       50000 non-null  object
 28  tenaamstellen_mogelijk                                    50000 non-null  object
 29  datum_tenaamstelling_dt                                   45745 non-null  object
 30  datum_eerste_toelating_dt                                 49958 non-null  object
 31  datum_eerste_tenaamstelling_in_nederland_dt               49867 non-null  object
 32  maximum_last_onder_de_vooras_sen_tezamen_koppeling        6324 non-null   object
 33  api_gekentekende_voertuigen_assen                         50000 non-null  object
 34  api_gekentekende_voertuigen_brandstof                     50000 non-null  object
 35  api_gekentekende_voertuigen_carrosserie                   50000 non-null  object
 36  api_gekentekende_voertuigen_carrosserie_specifiek         50000 non-null  object
 37  api_gekentekende_voertuigen_voertuigklasse                50000 non-null  object
 38  afstand_hart_koppeling_tot_achterzijde_voertuig           46874 non-null  object
 39  afstand_voorzijde_voertuig_tot_hart_koppeling             46874 non-null  object
 40  lengte                                                    47651 non-null  object
 41  breedte                                                   47381 non-null  object
 42  technische_max_massa_voertuig                             48668 non-null  object
 43  volgnummer_wijziging_eu_typegoedkeuring                   47332 non-null  object
 44  maximum_massa_samenstelling                               47655 non-null  object
 45  vervaldatum_apk                                           37319 non-null  object
 46  vervaldatum_apk_dt                                        37319 non-null  object
 47  bruto_bpm                                                 48480 non-null  object
 48  aantal_zitplaatsen                                        48427 non-null  object
 49  cilinderinhoud                                            48996 non-null  object
 50  toegestane_maximum_massa_voertuig                         48138 non-null  object
 51  maximum_massa_trekken_ongeremd                            33589 non-null  object
 52  maximum_trekken_massa_geremd                              33592 non-null  object
 53  catalogusprijs                                            32444 non-null  object
 54  type                                                      31964 non-null  object
 55  typegoedkeuringsnummer                                    46123 non-null  object
 56  variant                                                   46122 non-null  object
 57  uitvoering                                                46122 non-null  object
 58  aantal_rolstoelplaatsen                                   45661 non-null  object
 59  zuinigheidsclassificatie                                  32587 non-null  object
 60  maximum_ondersteunende_snelheid                           17246 non-null  object
 61  maximale_constructiesnelheid                              5022 non-null   object
 62  registratie_datum_goedkeuring_afschrijvingsmoment_bpm     3163 non-null   object
 63  registratie_datum_goedkeuring_afschrijvingsmoment_bpm_dt  3163 non-null   object
 64  europese_voertuigcategorie_toevoeging                     11405 non-null  object
 65  europese_uitvoeringcategorie_toevoeging                   11405 non-null  object
 66  hoogte_voertuig                                           3956 non-null   object
 67  laadvermogen                                              9 non-null      object
 68  aanhangwagen_autonoom_geremd                              9 non-null      object
 69  aanhangwagen_middenas_geremd                              9 non-null      object
dtypes: object(70)
memory usage: 26.7+ MB

## Selection of the columns we need

In [88]:
# specify a list with columns
'''
- merk
- model
- prijs
- kleur
- datum tenaamstelling
'''



columns_list = ['merk', 'handelsbenaming', 'catalogusprijs', 'eerste_kleur', 'datum_tenaamstelling']

# create a DataFrame with a subset of the columns
df_subset = df[columns_list]
df_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   merk                  50000 non-null  object
 1   handelsbenaming       49999 non-null  object
 2   catalogusprijs        32444 non-null  object
 3   eerste_kleur          50000 non-null  object
 4   datum_tenaamstelling  45745 non-null  object
dtypes: object(5)
memory usage: 1.9+ MB

## Convert to the right data types

In [89]:
# convert to the right data types
df_subset['catalogusprijs'] = df_subset['catalogusprijs'].astype(float)

/var/folders/ds/njs8n39s3nq3v_q1_vxpq1zc0000gn/T/ipykernel_8486/347787855.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [90]:
# show the data types after the conversion
df_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   merk                  50000 non-null  object
 1   handelsbenaming       49999 non-null  object
 2   catalogusprijs        32444 non-null  float64
 3   eerste_kleur          50000 non-null  object
 4   datum_tenaamstelling  45745 non-null  object
dtypes: float64(1), object(4)
memory usage: 1.9+ MB

In [91]:
# conver the date
df_subset['datum_tenaamstelling'] = pd.to_datetime(df_subset['datum_tenaamstelling'], 
                                                   format="%Y%m%d")

/var/folders/ds/njs8n39s3nq3v_q1_vxpq1zc0000gn/T/ipykernel_8486/1367056656.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [92]:
# show the info
df_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   merk                  50000 non-null  object
 1   handelsbenaming       49999 non-null  object
 2   catalogusprijs        32444 non-null  float64
 3   eerste_kleur          50000 non-null  object
 4   datum_tenaamstelling  45745 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.9+ MB

In [93]:
# show the actual values
df_subset.head()

  merk handelsbenaming  catalogusprijs eerste_kleur datum_tenaamstelling
0  BMW   2002AUTOMATIC             NaN        BLAUW           2015-09-21
1  BMW  1600 CABRIOLET             NaN          WIT           1997-10-24
2  BMW        1600 - 2             NaN        CREME           1988-12-13
3  BMW            1602             NaN         GEEL           1977-03-15
4  BMW            1602             NaN         ROOD           1992-11-27

In [94]:
# add additional columns based on the date
df_subset['jaar'] = df_subset['datum_tenaamstelling'].dt.strftime("%Y") # year
df_subset['weekdag'] = df_subset['datum_tenaamstelling'].dt.strftime("%A") # day
df_subset['maand'] = df_subset['datum_tenaamstelling'].dt.strftime("%B") # month name
df_subset['jaar_kwartaal'] = df_subset['datum_tenaamstelling'].dt.strftime("%Y%m") # year-month


df_subset

/var/folders/ds/njs8n39s3nq3v_q1_vxpq1zc0000gn/T/ipykernel_8486/2263948759.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/ds/njs8n39s3nq3v_q1_vxpq1zc0000gn/T/ipykernel_8486/2263948759.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/ds/njs8n39s3nq3v_q1_vxpq1zc0000gn/T/ipykernel_8486/2263948759.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/ds/njs8n39s3nq3v_q1_vxpq1zc0000gn/T/ipykernel_8486/2263948759.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,merk,handelsbenaming,catalogusprijs,eerste_kleur,datum_tenaamstelling,jaar,weekdag,maand,jaar_kwartaal
0,BMW,2002AUTOMATIC,NaN,BLAUW,2015-09-21,2015,Monday,September,201509
1,BMW,1600 CABRIOLET,NaN,WIT,1997-10-24,1997,Friday,October,199710
2,BMW,1600 - 2,NaN,CREME,1988-12-13,1988,Tuesday,December,198812
3,BMW,1602,NaN,GEEL,1977-03-15,1977,Tuesday,March,197703
4,BMW,1602,NaN,ROOD,1992-11-27,1992,Friday,November,199211
...,...,...,...,...,...,...,...,...,...
49995,BMW,3ER REIHE,NaN,GRIJS,NaT,NaN,NaN,NaN,NaN
49996,BMW,318I,43322.0,GRIJS,2015-06-25,2015,Thursday,June,201506
49997,BMW,320I,43438.0,ZWART,2021-08-27,2021,Friday,August,202108
49998,BMW,Z REIHE,NaN,ZWART,2016-04-26,2016,Tuesday,April,201604
49999,BMW,5ER REIHE,NaN,GRIJS,2022-05-06,2022,Friday,May,202205

## Dealing with strange values

In [95]:
# check for the numerical strange values
df_subset.describe()

       catalogusprijs           datum_tenaamstelling
count    3.244400e+04                          45745
mean     4.524766e+04  2019-10-17 17:22:06.440048128
min      1.000000e+00            1975-04-08 00:00:00
25%      2.752275e+04            2017-10-27 00:00:00
50%      4.032650e+04            2021-03-04 00:00:00
75%      5.719975e+04            2023-03-08 00:00:00
max      3.737522e+06            2024-03-16 00:00:00
std      3.263595e+04                            NaN

In [96]:
# check the highest values for 'catalogusprijs'
max_price = df_subset['catalogusprijs'].max()

df_car_max = df_subset.query("catalogusprijs == @max_price")
df_car_max

,merk,handelsbenaming,catalogusprijs,eerste_kleur,datum_tenaamstelling,jaar,weekdag,maand,jaar_kwartaal
15942,BMW,1ER REIHE,3737522.0,ZWART,2023-04-05,2023,Wednesday,April,202304

In [97]:
# calculate the average price
median_car_price = df_subset['catalogusprijs'].median()
std_car_price = df_subset['catalogusprijs'].std()

# calculate the bounds
lower_bound = median_car_price - (3 * std_car_price)
upper_bound = median_car_price + (3 * std_car_price)

In [98]:
# filter out the extreme values

df_subset_filtered = df_subset.query("catalogusprijs > @lower_bound & catalogusprijs < @upper_bound")

## Rename the columns

In [99]:
# renaming the columns
df_subset_filtered_renamed = df_subset_filtered.rename(columns={"handelsbenaming": "model",
                                                                "catalogusprijs": "prijs",
                                                                "datum_tenaamstelling": "datum",
                                                                "eerste_kleur": "kleur"})

df_subset_filtered_renamed.head()

,merk,model,prijs,kleur,datum,jaar,weekdag,maand,jaar_kwartaal
20,BMW,3ER REIHE,35452.0,ZWART,2010-05-20,2010,Thursday,May,201005
21,BMW,1ER REIHE,30427.0,GRIJS,2021-11-19,2021,Friday,November,202111
22,BMW,5ER REIHE,58168.0,GRIJS,2019-07-29,2019,Monday,July,201907
23,BMW,1ER REIHE,55333.0,GRIJS,2008-06-06,2008,Friday,June,200806
25,BMW,1ER REIHE,37411.0,BLAUW,2022-08-20,2022,Saturday,August,202208

## Check for NaN-values

In [100]:
# tel het aantal na's, (een True-waarde is eigenlijk een 1)
sum(df_subset_filtered_renamed['datum'].isna())

2460

In [101]:
# alleen rijen behouden waarvoor wij "wel" de datum informatie hebben
df_subset_filtered_renamed_non_na = df_subset_filtered_renamed.dropna(subset='datum')

## All the modifications in a single data pipeline

In [102]:
# steps
'''
- ✅ Select the right columns
- ✅ Convert to the right data types
- ✅ Remove the extreme values
- ✅ Rename the columns
- ✅ Remove the 'na' values for the "datum" column
'''

'\n- ✅ Select the right columns\n- ✅ Convert to the right data types\n- ✅ Remove the extreme values\n- ✅ Rename the columns\n- ✅ Remove the \'na\' values for the "datum" column\n'

In [103]:
# set the plot library to plotly
pd.options.plotting.backend = "plotly"

# define the columns 
columns_list = ['merk', 'handelsbenaming', 'catalogusprijs', 'eerste_kleur', 'datum_tenaamstelling']

# calculate the average price
median_car_price = df_subset['catalogusprijs'].median()
std_car_price = df_subset['catalogusprijs'].std()

# calculate the bounds
lower_bound = median_car_price - (3 * std_car_price)
upper_bound = median_car_price + (3 * std_car_price)

# apply the methods to clean the data frame
df_clean = (
    # select the right columns
    df[columns_list]
    # modify the data types
    .assign(
        catalogusprijs = lambda x: x['catalogusprijs'].astype(float),
        datum_tenaamstelling = lambda x: pd.to_datetime(x['datum_tenaamstelling'], format="%Y%m%d")
    )
    # remove the extreme values
    .query("catalogusprijs > @lower_bound & catalogusprijs < @upper_bound")
    # rename the columns
    .rename(columns={"handelsbenaming": "model",
                     "catalogusprijs": "prijs",
                     "datum_tenaamstelling": "datum",
                     "eerste_kleur": "kleur"})
    # drop rows with na
    .dropna(subset='datum')
    # group by 
    .groupby(['model', 'kleur'])
    .mean('prijs')
    # reset the index
    .reset_index()
    # sort the values
    .sort_values(by="prijs", ascending=False)
    # visualize the data
    #.plot
    #.bar(x="model", y="prijs")
)

df_clean

            model   kleur          prijs
717  X5 XDRIVE48I   ZWART  138216.000000
334        535 XI   ZWART  136970.000000
402          740I   BLAUW  136724.000000
494            M5   BLAUW  134196.000000
719       X6 M50D   GRIJS  134130.000000
..            ...     ...            ...
449      G 650 GS  N.v.t.    8294.900000
446      G 310 GS  N.v.t.    6965.000000
452       G310 GS  N.v.t.    6499.000000
447       G 310 R  N.v.t.    5752.738095
453        G310 R  N.v.t.    3253.000000

[775 rows x 3 columns]

## Export to SQL

In [104]:
# specify the path
db_path = "data/data.db"

# create the connection
con = sqlite3.connect(db_path)

In [105]:
# export the pandas DataFrame to the sqlite database
df_clean.to_sql(name = "avg_cars_colors", 
                con = con,
                if_exists='append')

775

## Import from SQL

In [47]:
# import from the SQL database
qry = f"""
SELECT model, kleur, prijs
FROM avg_cars_colors
WHERE kleur = ?
  AND model = ?
ORDER BY 3 DESC
"""

# import from the SQL(ite) database
df_imported = pd.read_sql(qry, con=con, params=("WIT","MODEL S",))

df_imported.head()

     model kleur         prijs
0  MODEL S   WIT  89899.304054

In [130]:
# !pip install matplotlib
#!pip install plotly
#!pip install jupyter

Requirement already satisfied: plotly in ./venv/lib/python3.12/site-packages (5.20.0)
Requirement already satisfied: tenacity>=6.2.0 in ./venv/lib/python3.12/site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in ./venv/lib/python3.12/site-packages (from plotly) (24.0)
Collecting jupyter
  Downloading jupyter-1.0.0-py2.py3-none-any.whl.metadata (995 bytes)
Collecting notebook (from jupyter)
  Downloading notebook-7.1.2-py3-none-any.whl.metadata (10 kB)
Collecting qtconsole (from jupyter)
  Using cached qtconsole-5.5.1-py3-none-any.whl.metadata (5.1 kB)
Collecting jupyter-console (from jupyter)
  Downloading jupyter_console-6.6.3-py3-none-any.whl.metadata (5.8 kB)
Collecting nbconvert (from jupyter)
  Downloading nbconvert-7.16.2-py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: ipykernel in ./venv/lib/python3.12/site-packages (from jupyter) (6.29.3)
Collecting ipywidgets (from jupyter)
  Downloading ipywidgets-8.1.2-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: appnope in ./venv/lib/python3.12/site-packages (from ipykernel->jupyter) (0.1.4)
Requirement already satisfied: comm>=0.1.1 in ./venv/lib/python3.12/site-packages (from ipykernel->jupyter) (0.2.2)
Requirement already satisfied: debugpy>=1.6.5 in ./venv/lib/python3.12/site-packages (from ipykernel->jupyter) (1.8.1)
Requirement already satisfied: ipython>=7.23.1 in ./venv/lib/python3.12/site-packages (from ipykernel->jupyter) (8.22.2)
Requirement already satisfied: jupyter-client>=6.1.12 in ./venv/lib/python3.12/site-packages (from ipykernel->jupyter) (8.6.1)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in ./venv/lib/python3.12/site-packages (from ipykernel->jupyter) (5.7.2)
Requirement already satisfied: matplotlib-inline>=0.1 in ./venv/lib/python3.12/site-packages (from ipykernel->jupyter) (0.1.6)
Requirement already satisfied: nest-asyncio in ./venv/lib/python3.12/site-packages (from ipykernel->jupyter) (1.6.0)
Requirement already satisfied: packaging in ./venv/lib/python3.12/site-packages (from ipykernel->jupyter) (24.0)
Requirement already satisfied: psutil in ./venv/lib/python3.12/site-packages (from ipykernel->jupyter) (5.9.8)
Requirement already satisfied: pyzmq>=24 in ./venv/lib/python3.12/site-packages (from ipykernel->jupyter) (25.1.2)
Requirement already satisfied: tornado>=6.1 in ./venv/lib/python3.12/site-packages (from ipykernel->jupyter) (6.4)
Requirement already satisfied: traitlets>=5.4.0 in ./venv/lib/python3.12/site-packages (from ipykernel->jupyter) (5.14.2)
Collecting widgetsnbextension~=4.0.10 (from ipywidgets->jupyter)
  Downloading widgetsnbextension-4.0.10-py3-none-any.whl.metadata (1.6 kB)
Collecting jupyterlab-widgets~=3.0.10 (from ipywidgets->jupyter)
  Downloading jupyterlab_widgets-3.0.10-py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: prompt-toolkit>=3.0.30 in ./venv/lib/python3.12/site-packages (from jupyter-console->jupyter) (3.0.43)
Requirement already satisfied: pygments in ./venv/lib/python3.12/site-packages (from jupyter-console->jupyter) (2.17.2)
Collecting beautifulsoup4 (from nbconvert->jupyter)
  Downloading beautifulsoup4-4.12.3-py3-none-any.whl.metadata (3.8 kB)
Collecting bleach!=5.0.0 (from nbconvert->jupyter)
  Using cached bleach-6.1.0-py3-none-any.whl.metadata (30 kB)
Collecting defusedxml (from nbconvert->jupyter)
  Downloading defusedxml-0.7.1-py2.py3-none-any.whl.metadata (32 kB)
Collecting jinja2>=3.0 (from nbconvert->jupyter)
  Using cached Jinja2-3.1.3-py3-none-any.whl.metadata (3.3 kB)
Collecting jupyterlab-pygments (from nbconvert->jupyter)
  Using cached jupyterlab_pygments-0.3.0-py3-none-any.whl.metadata (4.4 kB)
Collecting markupsafe>=2.0 (from nbconvert->jupyter)
  Downloading MarkupSafe-2.1.5-cp312-cp312-macosx_10_9_universal2.whl.metadata (3.0 kB)
Collecting mistune<4,>=2.0.3 (from nbconvert->jupyter)
  Using cached mistune-3.0.2-py3-none-any.whl.metadata (1.7 kB)
Collecting nbclient>=0.5.0 (from nbconvert->jupyter)
  Downloading nbclient-0.10.0-py3-none-any.whl.metadata (7.8 kB)
Requirement already satisfied: nbformat>=5.7 in ./venv/lib/python3.12/site-packages (from nbconvert->jupyter) (5.10.3)
Collecting pandocfilters>=1.4.1 (from nbconvert->jupyter)
  Downloading pandocfilters-1.5.1-py2.py3-none-any.whl.metadata (9.0 kB)
Collecting tinycss2 (from nbconvert->jupyter)
  Downloading tinycss2-1.2.1-py3-none-any.whl.metadata (3.0 kB)
Collecting jupyter-server<3,>=2.4.0 (from notebook->jupyter)
  Downloading jupyter_server-2.13.0-py3-none-any.whl.metadata (8.4 kB)
Collecting jupyterlab-server<3,>=2.22.1 (from notebook->jupyter)
  Downloading jupyterlab_server-2.25.4-py3-none-any.whl.metadata (5.9 kB)
Collecting jupyterlab<4.2,>=4.1.1 (from notebook->jupyter)
  Downloading jupyterlab-4.1.5-py3-none-any.whl.metadata (15 kB)
Collecting notebook-shim<0.3,>=0.2 (from notebook->jupyter)
  Downloading notebook_shim-0.2.4-py3-none-any.whl.metadata (4.0 kB)
Collecting qtpy>=2.4.0 (from qtconsole->jupyter)
  Using cached QtPy-2.4.1-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: six>=1.9.0 in ./venv/lib/python3.12/site-packages (from bleach!=5.0.0->nbconvert->jupyter) (1.16.0)
Collecting webencodings (from bleach!=5.0.0->nbconvert->jupyter)
  Downloading webencodings-0.5.1-py2.py3-none-any.whl.metadata (2.1 kB)
Requirement already satisfied: decorator in ./venv/lib/python3.12/site-packages (from ipython>=7.23.1->ipykernel->jupyter) (5.1.1)
Requirement already satisfied: jedi>=0.16 in ./venv/lib/python3.12/site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.19.1)
Requirement already satisfied: stack-data in ./venv/lib/python3.12/site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.6.3)
Requirement already satisfied: pexpect>4.3 in ./venv/lib/python3.12/site-packages (from ipython>=7.23.1->ipykernel->jupyter) (4.9.0)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.12/site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter) (2.9.0.post0)
Requirement already satisfied: platformdirs>=2.5 in ./venv/lib/python3.12/site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter) (4.2.0)
Collecting anyio>=3.1.0 (from jupyter-server<3,>=2.4.0->notebook->jupyter)
  Downloading anyio-4.3.0-py3-none-any.whl.metadata (4.6 kB)
Collecting argon2-cffi (from jupyter-server<3,>=2.4.0->notebook->jupyter)
  Using cached argon2_cffi-23.1.0-py3-none-any.whl.metadata (5.2 kB)
Collecting jupyter-events>=0.9.0 (from jupyter-server<3,>=2.4.0->notebook->jupyter)
  Downloading jupyter_events-0.10.0-py3-none-any.whl.metadata (5.9 kB)
Collecting jupyter-server-terminals (from jupyter-server<3,>=2.4.0->notebook->jupyter)
  Downloading jupyter_server_terminals-0.5.3-py3-none-any.whl.metadata (5.6 kB)
Collecting overrides (from jupyter-server<3,>=2.4.0->notebook->jupyter)
  Downloading overrides-7.7.0-py3-none-any.whl.metadata (5.8 kB)
Collecting prometheus-client (from jupyter-server<3,>=2.4.0->notebook->jupyter)
  Downloading prometheus_client-0.20.0-py3-none-any.whl.metadata (1.8 kB)
Collecting send2trash>=1.8.2 (from jupyter-server<3,>=2.4.0->notebook->jupyter)
  Downloading Send2Trash-1.8.2-py3-none-any.whl.metadata (4.0 kB)
Collecting terminado>=0.8.3 (from jupyter-server<3,>=2.4.0->notebook->jupyter)
  Downloading terminado-0.18.1-py3-none-any.whl.metadata (5.8 kB)
Collecting websocket-client (from jupyter-server<3,>=2.4.0->notebook->jupyter)
  Using cached websocket_client-1.7.0-py3-none-any.whl.metadata (7.9 kB)
Collecting async-lru>=1.0.0 (from jupyterlab<4.2,>=4.1.1->notebook->jupyter)
  Using cached async_lru-2.0.4-py3-none-any.whl.metadata (4.5 kB)
Collecting httpx>=0.25.0 (from jupyterlab<4.2,>=4.1.1->notebook->jupyter)
  Downloading httpx-0.27.0-py3-none-any.whl.metadata (7.2 kB)
Collecting jupyter-lsp>=2.0.0 (from jupyterlab<4.2,>=4.1.1->notebook->jupyter)
  Downloading jupyter_lsp-2.2.4-py3-none-any.whl.metadata (1.8 kB)
Collecting babel>=2.10 (from jupyterlab-server<3,>=2.22.1->notebook->jupyter)
  Downloading Babel-2.14.0-py3-none-any.whl.metadata (1.6 kB)
Collecting json5>=0.9.0 (from jupyterlab-server<3,>=2.22.1->notebook->jupyter)
  Downloading json5-0.9.24-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: jsonschema>=4.18.0 in ./venv/lib/python3.12/site-packages (from jupyterlab-server<3,>=2.22.1->notebook->jupyter) (4.21.1)
Requirement already satisfied: requests>=2.31 in ./venv/lib/python3.12/site-packages (from jupyterlab-server<3,>=2.22.1->notebook->jupyter) (2.31.0)
Requirement already satisfied: fastjsonschema in ./venv/lib/python3.12/site-packages (from nbformat>=5.7->nbconvert->jupyter) (2.19.1)
Requirement already satisfied: wcwidth in ./venv/lib/python3.12/site-packages (from prompt-toolkit>=3.0.30->jupyter-console->jupyter) (0.2.13)
Collecting soupsieve>1.2 (from beautifulsoup4->nbconvert->jupyter)
  Using cached soupsieve-2.5-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: idna>=2.8 in ./venv/lib/python3.12/site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (3.6)
Collecting sniffio>=1.1 (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook->jupyter)
  Downloading sniffio-1.3.1-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: certifi in ./venv/lib/python3.12/site-packages (from httpx>=0.25.0->jupyterlab<4.2,>=4.1.1->notebook->jupyter) (2024.2.2)
Collecting httpcore==1.* (from httpx>=0.25.0->jupyterlab<4.2,>=4.1.1->notebook->jupyter)
  Downloading httpcore-1.0.4-py3-none-any.whl.metadata (20 kB)
Collecting h11<0.15,>=0.13 (from httpcore==1.*->httpx>=0.25.0->jupyterlab<4.2,>=4.1.1->notebook->jupyter)
  Downloading h11-0.14.0-py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in ./venv/lib/python3.12/site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel->jupyter) (0.8.3)
Requirement already satisfied: attrs>=22.2.0 in ./venv/lib/python3.12/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.22.1->notebook->jupyter) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in ./venv/lib/python3.12/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.22.1->notebook->jupyter) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in ./venv/lib/python3.12/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.22.1->notebook->jupyter) (0.34.0)
Requirement already satisfied: rpds-py>=0.7.1 in ./venv/lib/python3.12/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.22.1->notebook->jupyter) (0.18.0)
Collecting python-json-logger>=2.0.4 (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter)
  Downloading python_json_logger-2.0.7-py3-none-any.whl.metadata (6.5 kB)
Collecting pyyaml>=5.3 (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter)
  Using cached PyYAML-6.0.1-cp312-cp312-macosx_11_0_arm64.whl.metadata (2.1 kB)
Collecting rfc3339-validator (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter)
  Downloading rfc3339_validator-0.1.4-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting rfc3986-validator>=0.1.1 (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter)
  Downloading rfc3986_validator-0.1.1-py2.py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: ptyprocess>=0.5 in ./venv/lib/python3.12/site-packages (from pexpect>4.3->ipython>=7.23.1->ipykernel->jupyter) (0.7.0)
Requirement already satisfied: charset-normalizer<4,>=2 in ./venv/lib/python3.12/site-packages (from requests>=2.31->jupyterlab-server<3,>=2.22.1->notebook->jupyter) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./venv/lib/python3.12/site-packages (from requests>=2.31->jupyterlab-server<3,>=2.22.1->notebook->jupyter) (2.2.1)
Collecting argon2-cffi-bindings (from argon2-cffi->jupyter-server<3,>=2.4.0->notebook->jupyter)
  Downloading argon2_cffi_bindings-21.2.0-cp38-abi3-macosx_10_9_universal2.whl.metadata (6.7 kB)
Requirement already satisfied: executing>=1.2.0 in ./venv/lib/python3.12/site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in ./venv/lib/python3.12/site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter) (2.4.1)
Requirement already satisfied: pure-eval in ./venv/lib/python3.12/site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter) (0.2.2)
Collecting fqdn (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter)
  Downloading fqdn-1.5.1-py3-none-any.whl.metadata (1.4 kB)
Collecting isoduration (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter)
  Downloading isoduration-20.11.0-py3-none-any.whl.metadata (5.7 kB)
Collecting jsonpointer>1.13 (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter)
  Using cached jsonpointer-2.4-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting uri-template (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter)
  Using cached uri_template-1.3.0-py3-none-any.whl.metadata (8.8 kB)
Collecting webcolors>=1.11 (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter)
  Downloading webcolors-1.13-py3-none-any.whl.metadata (2.6 kB)
Collecting cffi>=1.0.1 (from argon2-cffi-bindings->argon2-cffi->jupyter-server<3,>=2.4.0->notebook->jupyter)
  Using cached cffi-1.16.0-cp312-cp312-macosx_11_0_arm64.whl.metadata (1.5 kB)
Collecting pycparser (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->jupyter-server<3,>=2.4.0->notebook->jupyter)
  Downloading pycparser-2.21-py2.py3-none-any.whl.metadata (1.1 kB)
Collecting arrow>=0.15.0 (from isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter)
  Using cached arrow-1.3.0-py3-none-any.whl.metadata (7.5 kB)
Collecting types-python-dateutil>=2.8.10 (from arrow>=0.15.0->isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter)
  Downloading types_python_dateutil-2.9.0.20240316-py3-none-any.whl.metadata (1.8 kB)
Using cached jupyter-1.0.0-py2.py3-none-any.whl (2.7 kB)
Downloading ipywidgets-8.1.2-py3-none-any.whl (139 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.4/139.4 kB 3.7 MB/s eta 0:00:00
Using cached jupyter_console-6.6.3-py3-none-any.whl (24 kB)
Downloading nbconvert-7.16.2-py3-none-any.whl (257 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 257.3/257.3 kB 7.5 MB/s eta 0:00:00
Downloading notebook-7.1.2-py3-none-any.whl (5.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.0/5.0 MB 7.2 MB/s eta 0:00:0000:0100:01
Using cached qtconsole-5.5.1-py3-none-any.whl (123 kB)
Using cached bleach-6.1.0-py3-none-any.whl (162 kB)
Using cached Jinja2-3.1.3-py3-none-any.whl (133 kB)
Downloading jupyter_server-2.13.0-py3-none-any.whl (383 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 383.2/383.2 kB 10.7 MB/s eta 0:00:0000:01
Downloading jupyterlab-4.1.5-py3-none-any.whl (11.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.4/11.4 MB 9.6 MB/s eta 0:00:00a 0:00:01
Downloading jupyterlab_server-2.25.4-py3-none-any.whl (58 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.0/59.0 kB 6.2 MB/s eta 0:00:00
Downloading jupyterlab_widgets-3.0.10-py3-none-any.whl (215 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 215.0/215.0 kB 11.3 MB/s eta 0:00:00
Downloading MarkupSafe-2.1.5-cp312-cp312-macosx_10_9_universal2.whl (18 kB)
Using cached mistune-3.0.2-py3-none-any.whl (47 kB)
Downloading nbclient-0.10.0-py3-none-any.whl (25 kB)
Downloading notebook_shim-0.2.4-py3-none-any.whl (13 kB)
Downloading pandocfilters-1.5.1-py2.py3-none-any.whl (8.7 kB)
Using cached QtPy-2.4.1-py3-none-any.whl (93 kB)
Downloading widgetsnbextension-4.0.10-py3-none-any.whl (2.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.3/2.3 MB 5.9 MB/s eta 0:00:0000:0100:01
Downloading beautifulsoup4-4.12.3-py3-none-any.whl (147 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 147.9/147.9 kB 9.1 MB/s eta 0:00:00
Using cached defusedxml-0.7.1-py2.py3-none-any.whl (25 kB)
Using cached jupyterlab_pygments-0.3.0-py3-none-any.whl (15 kB)
Using cached tinycss2-1.2.1-py3-none-any.whl (21 kB)
Downloading anyio-4.3.0-py3-none-any.whl (85 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.6/85.6 kB 6.2 MB/s eta 0:00:00
Using cached async_lru-2.0.4-py3-none-any.whl (6.1 kB)
Downloading Babel-2.14.0-py3-none-any.whl (11.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.0/11.0 MB 7.9 MB/s eta 0:00:0000:0100:01
Downloading httpx-0.27.0-py3-none-any.whl (75 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.6/75.6 kB 5.3 MB/s eta 0:00:00
Downloading httpcore-1.0.4-py3-none-any.whl (77 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.8/77.8 kB 5.7 MB/s eta 0:00:00
Downloading json5-0.9.24-py3-none-any.whl (30 kB)
Downloading jupyter_events-0.10.0-py3-none-any.whl (18 kB)
Downloading jupyter_lsp-2.2.4-py3-none-any.whl (69 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 69.1/69.1 kB 4.0 MB/s eta 0:00:00
Using cached Send2Trash-1.8.2-py3-none-any.whl (18 kB)
Using cached soupsieve-2.5-py3-none-any.whl (36 kB)
Downloading terminado-0.18.1-py3-none-any.whl (14 kB)
Using cached webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Using cached argon2_cffi-23.1.0-py3-none-any.whl (15 kB)
Downloading jupyter_server_terminals-0.5.3-py3-none-any.whl (13 kB)
Downloading overrides-7.7.0-py3-none-any.whl (17 kB)
Downloading prometheus_client-0.20.0-py3-none-any.whl (54 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.5/54.5 kB 5.2 MB/s eta 0:00:00
Using cached websocket_client-1.7.0-py3-none-any.whl (58 kB)
Using cached python_json_logger-2.0.7-py3-none-any.whl (8.1 kB)
Using cached PyYAML-6.0.1-cp312-cp312-macosx_11_0_arm64.whl (165 kB)
Using cached rfc3986_validator-0.1.1-py2.py3-none-any.whl (4.2 kB)
Downloading sniffio-1.3.1-py3-none-any.whl (10 kB)
Using cached argon2_cffi_bindings-21.2.0-cp38-abi3-macosx_10_9_universal2.whl (53 kB)
Using cached rfc3339_validator-0.1.4-py2.py3-none-any.whl (3.5 kB)
Using cached cffi-1.16.0-cp312-cp312-macosx_11_0_arm64.whl (177 kB)
Using cached h11-0.14.0-py3-none-any.whl (58 kB)
Using cached jsonpointer-2.4-py2.py3-none-any.whl (7.8 kB)
Using cached webcolors-1.13-py3-none-any.whl (14 kB)
Using cached fqdn-1.5.1-py3-none-any.whl (9.1 kB)
Using cached isoduration-20.11.0-py3-none-any.whl (11 kB)
Using cached uri_template-1.3.0-py3-none-any.whl (11 kB)
Using cached arrow-1.3.0-py3-none-any.whl (66 kB)
Using cached pycparser-2.21-py2.py3-none-any.whl (118 kB)
Downloading types_python_dateutil-2.9.0.20240316-py3-none-any.whl (9.7 kB)
Installing collected packages: webencodings, widgetsnbextension, websocket-client, webcolors, uri-template, types-python-dateutil, tinycss2, terminado, soupsieve, sniffio, send2trash, rfc3986-validator, rfc3339-validator, qtpy, pyyaml, python-json-logger, pycparser, prometheus-client, pandocfilters, overrides, mistune, markupsafe, jupyterlab-widgets, jupyterlab-pygments, jsonpointer, json5, h11, fqdn, defusedxml, bleach, babel, async-lru, jupyter-server-terminals, jinja2, httpcore, cffi, beautifulsoup4, arrow, anyio, isoduration, httpx, argon2-cffi-bindings, ipywidgets, argon2-cffi, qtconsole, nbclient, jupyter-events, jupyter-console, nbconvert, jupyter-server, notebook-shim, jupyterlab-server, jupyter-lsp, jupyterlab, notebook, jupyter